.container {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
}

.row-small {
  display: inline-block;
  width: 600px;
  margin: 0 calc(50% - 300px);
  text-align: center;
  color: var(--color-light);
}
.row-small > .logo-white {
  object-fit: contain;
  object-position: center;
  height: 50px;
  margin: 30px 0;
}
.row-small > .bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.bottom-links > div {
  position: relative;
}
.bottom-links > div::after {
  display: inline-block;
  content: '';
  width: 2px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bottom-links > div:first-of-type::after {
  display: none;
}
.row-small a {
  color: var(--color-light);
  text-decoration: none;
}

.row-big {
  display: inline-block;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}

.left-column {
  width: 50%;
  float: left;
}
.right-column {
  width: 40%;
  float: right;
}
.progressBar {
  text-align: center;
}

@media (max-width: 1100px) {
  .row-big {
    width: 800px;
    margin: 0 calc(50% - 400px);
  }
}

@media (max-width: 900px) {
  .row-big {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
  .left-column {
    width: 100%;
  }
  .right-column {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 50px 20px;
  }

  .row-small {
    width: 100%;
    margin: 0;
  }
  .row-big {
    width: 100%;
    margin: 0;
  }
}
