button {
  padding: 0 20px;
  color: #fff;
  margin-top: 50px;
  display: inline-block;
  background-color: var(--color-secondary);
  line-height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 8px purple;
  transition: all 0.5s;
  text-align: center;
}
.btn:hover {
  box-shadow: 0 4px 8px black;
}
