.clock {
    display: flex;
    width: 100%;
    color: var(--color-light);
    font-weight: bold;
    font-size: 20px;
}
.clock > .time {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.clock > .time > .value {
    font-size: 70px;
    font-weight: bold;
}