form {
  display: inline-block;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  color: var(--color-grey);
}
form > input {
  line-height: 40px;
  border: none;
  width: 46%;
  border-bottom: 2px solid var(--color-grey);
}
form > input:nth-of-type(2) {
  float: right;
}
form > textarea {
  margin-top: 50px;
  width: 100%;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid var(--color-grey);
}
