form {
  display: inline-block;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  color: var(--color-grey);
}
form > input {
  line-height: 40px;
  border: none;
  width: 46%;
  border-bottom: 2px solid var(--color-grey);
}
form > input:nth-of-type(2) {
  float: right;
}
.hero form > input {
  background-color: transparent;
  border-color: var(--color-light);
}
form > textarea {
  margin-top: 50px;
  width: 100%;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  resize: vertical;
}

@media (max-width: 1100px) {
  form > input {
    width: 100%;
  }
}
